<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers Lists</title>
  <!-- Link Bootstrap CSS -->
  <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Customers Lists</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Contact number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users%}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
